USE [QL_SHOPQUANAO]
GO
/****** Object:  Table [dbo].[CHITIETHD]    Script Date: 12/22/2022 10:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHD](
	[MAHD] [int] NOT NULL,
	[MAHANG] [int] NOT NULL,
	[SL] [int] NULL,
 CONSTRAINT [PK_CHITIETHD] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETPN]    Script Date: 12/22/2022 10:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPN](
	[MAPN] [int] NOT NULL,
	[MAHANG] [int] NOT NULL,
	[SL] [int] NULL,
 CONSTRAINT [PK_CHITIETPN] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC,
	[MAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HANG]    Script Date: 12/22/2022 10:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANG](
	[MAHANG] [int] NOT NULL,
	[TENHANG] [nvarchar](50) NULL,
	[MALOAI] [int] NOT NULL,
	[SLKHO] [int] NULL,
	[DONGIA] [int] NULL,
	[ANHBIA] [varchar](20) NULL,
 CONSTRAINT [PK_MAHANG] PRIMARY KEY CLUSTERED 
(
	[MAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 12/22/2022 10:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [int] NOT NULL,
	[SDTKH] [nvarchar](12) NULL,
	[TENKH] [nvarchar](50) NULL,
	[NGAYLAP] [datetime] NULL,
	[MANV] [int] NOT NULL,
	[TONGTIEN] [int] NULL,
	[MAKH] [int] NOT NULL,
 CONSTRAINT [PK_MAHD] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/22/2022 10:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [char](20) NULL,
 CONSTRAINT [PK_MAKH] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI]    Script Date: 12/22/2022 10:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI](
	[MALOAI] [int] NOT NULL,
	[TENLOAI] [nvarchar](50) NULL,
 CONSTRAINT [PK_MALOAI] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 12/22/2022 10:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [int] NOT NULL,
	[TENNCC] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [nvarchar](12) NULL,
 CONSTRAINT [PK_MANCC] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/22/2022 10:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[NGAYSINH] [datetime] NULL,
	[GIOITINH] [nvarchar](5) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SDT] [nchar](15) NULL,
 CONSTRAINT [PK_MANV] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAPHANG]    Script Date: 12/22/2022 10:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAPHANG](
	[MAPN] [int] NOT NULL,
	[NGAYNHAP] [datetime] NULL,
	[MANV] [int] NOT NULL,
	[TONGTIEN] [int] NULL,
	[MANCC] [int] NOT NULL,
 CONSTRAINT [PK_MAPN] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHITIETHD] ([MAHD], [MAHANG], [SL]) VALUES (7001, 6001, 1)
INSERT [dbo].[CHITIETHD] ([MAHD], [MAHANG], [SL]) VALUES (7002, 6002, 2)
INSERT [dbo].[CHITIETHD] ([MAHD], [MAHANG], [SL]) VALUES (7003, 6004, 4)
GO
INSERT [dbo].[CHITIETPN] ([MAPN], [MAHANG], [SL]) VALUES (4001, 6001, 2)
INSERT [dbo].[CHITIETPN] ([MAPN], [MAHANG], [SL]) VALUES (4002, 6002, 1)
INSERT [dbo].[CHITIETPN] ([MAPN], [MAHANG], [SL]) VALUES (4003, 6003, 1)
GO
INSERT [dbo].[HANG] ([MAHANG], [TENHANG], [MALOAI], [SLKHO], [DONGIA], [ANHBIA]) VALUES (6001, N'Quần Jean Gucci', 5001, 50, 90000, N'quanGucci.jpg')
INSERT [dbo].[HANG] ([MAHANG], [TENHANG], [MALOAI], [SLKHO], [DONGIA], [ANHBIA]) VALUES (6002, N'Áo Nike Drift', 5002, 50, 100000, N'aoNike.jpg')
INSERT [dbo].[HANG] ([MAHANG], [TENHANG], [MALOAI], [SLKHO], [DONGIA], [ANHBIA]) VALUES (6003, N'Nón Adiddas', 5003, 50, 120000, N'nonAdidas.jpg')
GO
INSERT [dbo].[HOADON] ([MAHD], [SDTKH], [TENKH], [NGAYLAP], [MANV], [TONGTIEN], [MAKH]) VALUES (7001, N'0912873465', N'Trần Đức Bo', CAST(N'2022-10-20T00:00:00.000' AS DateTime), 2001, 2999999, 3001)
INSERT [dbo].[HOADON] ([MAHD], [SDTKH], [TENKH], [NGAYLAP], [MANV], [TONGTIEN], [MAKH]) VALUES (7002, N'0912873466', N'Ngọc Trinh', CAST(N'2022-11-20T00:00:00.000' AS DateTime), 2002, 5999999, 3002)
INSERT [dbo].[HOADON] ([MAHD], [SDTKH], [TENKH], [NGAYLAP], [MANV], [TONGTIEN], [MAKH]) VALUES (7003, N'0912873467', N'Phúc Củ Chi', CAST(N'2022-02-27T00:00:00.000' AS DateTime), 2003, 4999999, 3003)
GO
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [SDT]) VALUES (3001, N'Trần Đức Bo', N'TP. HCM', N'0912873465          ')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [SDT]) VALUES (3002, N'Ngọc Trinh', N'TP. HCM', N'0912873466          ')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [SDT]) VALUES (3003, N'Phúc Củ Chi', N'TP. HCM', N'0912873467          ')
GO
INSERT [dbo].[LOAI] ([MALOAI], [TENLOAI]) VALUES (5001, N'Quần')
INSERT [dbo].[LOAI] ([MALOAI], [TENLOAI]) VALUES (5002, N'Áo')
INSERT [dbo].[LOAI] ([MALOAI], [TENLOAI]) VALUES (5003, N'Nón')
GO
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SDT]) VALUES (1001, N'Gucci', N'Mỹ', N'0912345678')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SDT]) VALUES (1002, N'Dior', N'Pháp', N'0912345679')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SDT]) VALUES (1003, N'Luôn Vui Tươi', N'Pháp', N'0912345670')
GO
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [GIOITINH], [DIACHI], [SDT]) VALUES (2001, N'Phan Trọng Kỳ', CAST(N'2002-02-27T00:00:00.000' AS DateTime), N'Nam', N'Long An', N'0987654321     ')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [GIOITINH], [DIACHI], [SDT]) VALUES (2002, N'Lê Minh Kha', CAST(N'2002-11-11T00:00:00.000' AS DateTime), N'Nam', N'Dắk Lắk', N'0987654322     ')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [GIOITINH], [DIACHI], [SDT]) VALUES (2003, N'Vũ Trí Ba Tá Trợ', CAST(N'2000-01-31T00:00:00.000' AS DateTime), N'Nam', N'Nhật Bản', N'0987654323     ')
GO
INSERT [dbo].[PHIEUNHAPHANG] ([MAPN], [NGAYNHAP], [MANV], [TONGTIEN], [MANCC]) VALUES (4001, CAST(N'2022-10-20T00:00:00.000' AS DateTime), 2001, 19999, 1001)
INSERT [dbo].[PHIEUNHAPHANG] ([MAPN], [NGAYNHAP], [MANV], [TONGTIEN], [MANCC]) VALUES (4002, CAST(N'2022-09-20T00:00:00.000' AS DateTime), 2001, 39999, 1002)
INSERT [dbo].[PHIEUNHAPHANG] ([MAPN], [NGAYNHAP], [MANV], [TONGTIEN], [MANCC]) VALUES (4003, CAST(N'2022-06-21T00:00:00.000' AS DateTime), 2002, 49999, 1003)
GO
ALTER TABLE [dbo].[CHITIETHD]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHD_HANG] FOREIGN KEY([MAHANG])
REFERENCES [dbo].[HANG] ([MAHANG])
GO
ALTER TABLE [dbo].[CHITIETHD] CHECK CONSTRAINT [FK_CHITIETHD_HANG]
GO
ALTER TABLE [dbo].[CHITIETHD]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHD_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CHITIETHD] CHECK CONSTRAINT [FK_CHITIETHD_HOADON]
GO
ALTER TABLE [dbo].[CHITIETPN]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPN_HANG] FOREIGN KEY([MAHANG])
REFERENCES [dbo].[HANG] ([MAHANG])
GO
ALTER TABLE [dbo].[CHITIETPN] CHECK CONSTRAINT [FK_CHITIETPN_HANG]
GO
ALTER TABLE [dbo].[CHITIETPN]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPN_PHIEUNHAPHANG] FOREIGN KEY([MAPN])
REFERENCES [dbo].[PHIEUNHAPHANG] ([MAPN])
GO
ALTER TABLE [dbo].[CHITIETPN] CHECK CONSTRAINT [FK_CHITIETPN_PHIEUNHAPHANG]
GO
ALTER TABLE [dbo].[HANG]  WITH CHECK ADD  CONSTRAINT [FK_HANG_LOAI] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAI] ([MALOAI])
GO
ALTER TABLE [dbo].[HANG] CHECK CONSTRAINT [FK_HANG_LOAI]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAPHANG_NHACUNGCAP] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[PHIEUNHAPHANG] CHECK CONSTRAINT [FK_PHIEUNHAPHANG_NHACUNGCAP]
GO
ALTER TABLE [dbo].[PHIEUNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAPHANG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUNHAPHANG] CHECK CONSTRAINT [FK_PHIEUNHAPHANG_NHANVIEN]
GO
